html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

#site{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 300px minmax(400px, 3fr);
    grid-template-rows: minmax(75px, 1fr) 9fr;
}


#sidebar{
    padding: 15px;
    background-color: #543421;
    color: white;
    box-shadow: 0 0 5px 1px #333;
    z-index: 101;


    grid-area: span 2 / span 1;

}
#topbar{
    background-color: #543421;
    box-shadow: 0 4px 2px -2px #333;
    z-index: 100;


}

#bookshelf{

    grid-area: span 1 / span 1;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background-color: #875816;


}



.book{  
    background-color: #e0d1a8;
    padding: 10px;
    margin: 15px;

    height: 300px;

    box-shadow: 0 8px 2px -2px #333;

    display: grid;
    grid-template-rows: 2fr 5fr 1fr 1fr;


}

.book > .bookTitle{

}

.book > .bookAuthor{

}

.book > .pageCount{

}

.book > .read{
    
}

