html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    /* overflow: hidden; */
}

#site{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 300px minmax(200px, 3fr);
    grid-template-rows: minmax(75px, 1fr) 9fr;
}

.blur{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);

}

#popup{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;

    height: 400px;
    width: 300px;
    background-color: red;
    z-index: 200;

    opacity: 0%;

}

#sidebar{
    padding: 15px;
    background-color: #543421;
    color: white;
    box-shadow: 0 0 5px 1px #333;
    z-index: 101;


    grid-area: span 2 / span 1;

}
#topbar{
    background-color: #543421;
    box-shadow: 0 4px 2px -2px #333;
    z-index: 100;
    margin: 0;


}




#bookshelf{

    margin: 0;
    grid-area: span 1 / span 1;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    background-color: #875816;



}



.book{  
    background-color: #e0d1a8;
    padding: 10px;
    margin: 15px;

    height: 300px;

    box-shadow: 0 8px 2px -2px #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/* 
    display: grid;
    grid-template-rows: 2fr 5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr; */


}

.book > .imageBox{
    border: solid;
    height: 180px;
    width: 150px;
    margin: 5px;
}

.book > .fileChooser{
    width: 150px;
    border: solid;
    overflow: hidden;
}


.book > .bookTitle{
    align-self: center;
    justify-self: center;

}

.book > .bookAuthor{

}

.book > .pageCount{

}

.book > .read{
    
}

